# Dependencies
node_modules/

# Next.js
.next/
out/

# Build artifacts
*.tsbuildinfo

# Environment
.env
.env.local
.env.production.local
.env.development.local

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

# Editor temp files
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Test coverage
coverage/

# Misc
# .pre-commit-config.yaml
